logs
.DS_Store
.env
node_modules
.npm
dist
build
out
__pycache__

# https://github.com/swkBerlin/kata-bootstraps/blob/master/.gitignore
*~
.*sw[a-z]
*.pyc
*.bundle
.idea/
.idea_modules/
*.iml
target/
