<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game of AI</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <header>
      <h1>Game of AI ✨</h1>
      <p>Game of Life using AI for iterating next generations.</p>
    </header>
    <main>
      <h2>Generation {{generation}}</h2>

    </main>
  </body>
</html>